<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Super4Tech Signup</title>
    <!--    <link rel="stylesheet" >-->
</head>
<body>

    <div class="container">
        <div class="mt-80 mb-120 row">
            <form class="form-signin" th:object="${user}" method="post">

<!--                <div class="form-group">-->
<!--                    <label for="firstName">First Name</label>-->
<!--                    <input type="text" class="form-control" id="firstName" />-->

<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="lastName">Last Name</label>-->
<!--                    <input type="text" class="form-control" id="lastName" th:field="*{lastName}" value="">-->

<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="email">Email</label>-->
<!--                    <input type="text" class="form-control" id="email" th:field="*{email}" value="">-->

<!--                </div>-->
                <div class="form-group">
                    <label for="userName">Username</label>
                    <input type="text" class="form-control" id="Username" th:field="*{username}" value="">

                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}" value="">

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-log-in"></span> SignUp</button>
                </div>
            </form>
        </div>
    </div>


</body>
</html>